@media only screen and (min-width: 321px) {
    .content_p{
        margin-top: 12px;
    }
}
@media only screen and (max-width: 321px) {
    .content_p{
    	/*untuk hape dibahawa 320 pixel*/
        margin-top: -30px;
    }
}
.content_p{
	/*margin-top: -20px;*/
	padding: 0px 12px;
}

.history_p{
	/*border: 1px solid;*/
	margin-bottom: 20px;
}

.history_p li{
	text-decoration: none;
}

.history_p span{
	font-size: 20px;
}

.l_hp{
	margin-bottom:10px;
}

.tbl_p{
	width: 100%;
}

.tbl_p thead{
	border-bottom: 1px solid;
	border-top: 1px solid;
}

.tbl_p thead tr th{
	/*width: 100%;*/
	text-align: center;
}

.tbl_p tbody tr td{
	border: 1px solid;
}

.title_presensi{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}

.mt{
	margin-top: 10px;
}

.btn_presensi{
	height: 45px;
	margin-top: 5px;
}

.content_p a{
	text-decoration: none;
}

.btn_login{
	color: white;
	background-color: #428bca;
	padding: 8px 50px;
	width: 100%;
	border: none;
}

.btn_login:hover{
	color: white;
	background-color: #8ec63f;
}